<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true">
    <coverage processUncoveredFiles="true">
        <report>
            <clover outputFile="report/coverage.xml"/>
            <html outputDirectory="report/" lowUpperBound="35" highLowerBound="80"/>
            <text outputFile="coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuite name="RedisCacheService TestSuite">
        <directory suffix="Test.php">./tests</directory>
    </testsuite>
    <logging/>
    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>
</phpunit>
